@claro:registry=https://pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/registry/
always-auth=true

; begin auth token

//pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/registry/:username=Cuponera

//pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/registry/:_password=ZHJ2ZmJxbGo1bXVjdTRvY3RjZHdxaGVxNTJjcDY2Y3E1dDZ6dmE1NXJ5YjM1ZTV1bW96YQ==

//pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/registry/:email=aricardez@cuponerapp.com

; end auth token